<div>
  <app-navbar></app-navbar>

  <!-- For spacing start -->
  <nav class="navbar navbar-default"></nav>
  <nav class="navbar navbar-default"></nav>
  <nav class="navbar navbar-default"></nav>
  <nav class="navbar navbar-default"></nav>
  <!-- Spacing end-->


  <div class="nav-scroller bg-light box-shadow">
    <nav class="nav nav-underline justify-content-center">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li *ngFor="let item of nav" class="nav-item">
          <!--<a class="nav-link" data-toggle="tab" role="tab" [routerLink]="item.link"-->
          <a class="nav-link" [routerLink]="item.link"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact:item.exact}">{{item.name}}</a>
        </li>
      </ul>
    </nav>
  </div>

  <!--<div class="my-2"></div>-->
  <main class="container main-area px-4 py-1" role="main">
    <div class="row shadow p-3 mb-4 bg-white">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

</div>
<!-- Example bootstrap template-->
<!--https://getbootstrap.com/docs/4.0/examples/offcanvas/-->
