<h4 class="">Search for existing pilots</h4>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-11">
      <label for="searchPilots" class="sr-only">Search for Pilots</label>
      <input type="search" formControlName="search" class="form-control" id="searchPilots"
             placeholder="Search for Pilots">
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-success btn-block">Go</button>
    </div>
  </div>
</form>
