<!--<div class="tab-content tab-pane">-->
<div class="my-4"></div>
<div class="tab-pane fade show active" role="tabpanel">
  <!--<h1>Pilot works!</h1>-->
  <app-search-pilots></app-search-pilots>
  <!--<form class="form-inline" action="#">-->
  <!--<div class="row">-->
  <!--<div class="col-sm-12">-->
  <!--<div class="input-group mb-3">-->
  <!--<input type="text" class="form-control" placeholder="Search">-->
  <!--<div class="input-group-append">-->
  <!--<button class="btn btn-success" type="submit">Go</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</form>-->
</div>
